<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
    <%include ./master/menu.ejs %>
 
    <section class="container">
        <div class="row">
            <div class="col-sm-12"><h1>關於我們</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>公司簡介</h2>
                <p>公司創立至今，以服務客戶為主，藉由不斷的學習並追求進步，提升公司的研磨技術，為客戶提供穩定、精密的服務品質。</p>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-6">
                <h2>公司理念</h2>
                <ul class="list-group">
                  <li class="list-group-item">精密</li>
                  <li class="list-group-item list-group-item-success">穩定</li>
                  <li class="list-group-item list-group-item-info">誠信</li>
                </ul>
            </div><!--/.col-sm-6-->
        </div>
    </section><!--/#about-us-->


<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</html>