<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
    <%include ./master/menu.ejs %>
 
    <section class="container">
        <div class="row">
            <div class="col-sm-12"><h1>關於我們</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>公司歷史</h2>
                <p>鄭和下西洋，或稱「珍寶航行」，是泛指中國明代早期1405年至1433年間的七場連續的大規模遠洋航海，跨越了東亞地區、印度次大陸、阿拉伯半島、及東非各地，被認爲是當時世界上規模最大的遠洋航海項目。從1405年（明永樂三年）到1433年，明成祖命鄭和率領二百四十多海船、二萬七千四百名船員的龐大船隊遠航，拜訪了三十餘個西太平洋和印度洋的國家和地區。這段時期是在迪亞士發現好望角的七十年前及哥倫布發現美洲大陸的八十年前；是當時世界上規模最大的遠航航海項目。鄭和船隊七次下西洋的總航程達到七萬多海里，長度相當於地球圓周的三倍有餘。
鄭和船隊曾經航行至東海、南海、泰國灣，繞過馬六甲海峽進入安達曼海及孟加拉灣，再繞過整個南印度至阿拉伯海、波斯灣，從亞丁灣進入紅海，亦有航行至東非馬達加斯加北部更遠的海域，到達沿海三十多個國家及島嶼，包括東南亞的爪哇、蘇門答臘、蘇祿、彭亨、真臘、暹羅；印度的古裏、榜葛剌；阿拉伯半島的阿丹、天方、左法爾、忽魯謨斯；東非的木骨都束、莫三比克貝拉港。鄭和艦隊的七次遠洋有六次是在明成祖永樂年間（1402年至1424年）開始，而最後的第七次遠航是在明宣宗宣德元年（1425年至1435年）開始。前三次遠航最遠到達印度西南海岸的卡利卡特，而第四次最遠航行至波斯灣的荷姆茲海峽；最後，船隊遠航至阿拉伯半島和東非。</p>
            </div><!--/.col-sm-6-->
            <div class="col-sm-6">
                <h2>公司理念</h2>
                <ul class="list-group">
                  <li class="list-group-item">吃飽</li>
                  <li class="list-group-item list-group-item-success">喝足</li>
                  <li class="list-group-item list-group-item-info">玩夠</li>
                  <li class="list-group-item list-group-item-warning">睡久</li>
                  <li class="list-group-item list-group-item-danger">爽一生</li>
                </ul>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->

        <div class="gap"></div>
        <h1 class="center">公司團隊</h1>
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="images/sample/jacky.jpg" alt="" ></p>
                    <h5>張哲嘉<small class="designation muted">專業工程師</small></h5>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="images/sample/jacky.jpg" alt="" ></p>
                    <h5>張哲嘉<small class="designation muted">專業工程師</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="images/sample/jacky.jpg" alt="" ></p>
                    <h5>張哲嘉<small class="designation muted">專業工程師</small></h5>
                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="images/sample/jacky.jpg" alt="" ></p>
                    <h5>張哲嘉<small class="designation muted">專業工程師</small></h5>
                </div>
            </div>
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->


<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</html>