<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
<%include ./master/menu.ejs %>

    <section id="error" class="container">
        <h1>很抱歉, 網頁出現問題</h1>
        <p>請聯絡穩鍵公司</p>
        <a class="btn btn-success" href="/index">回首頁</a>
    </section><!--/#error-->

<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</html>