<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
<%include ./master/menu.ejs %>
    <section id="main-slider" class="hidden-xs no-margin">
        <div class="carousel slide wet-asphalt"  style="background-color:white !important;">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/background/01-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/background/02-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/background/03-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="silver">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">2017 第26屆台北國際工具機展</h3>
                            <a target="_blank" href="https://www.timtos.com.tw/zh_TW/index.html"><p class="index-new">
                            展覽日期：2017年3月7日至12日<br>
                            主辦單位：中華民國對外貿易發展協會 (TAITRA)、臺灣機械工業同業公會 (TAMI)<br>
                            展覽地點：世貿一館(1&2樓)、圓山爭艷館、世貿三館、南港展覽館1館(1&4樓)<br>
                            展出內容及各館展區劃分：<br>
                            世貿一館1樓：<br>
                            機械零組件、伺服及控制單元、工具、刀具、模具、液壓、氣壓、潤滑及冷卻系統、CAD/CAM、軟體、設計工程、量測與檢驗設備、工業用潤滑系統、工業用冷卻系統、雷射/水刀切割設備、切管機、彎管機、線材加工機械、其他相關設備
                            </p></a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">2017 台中工具機展</h3>
                            <a target="_blank" href="http://www.edn-mcshow.com/ntp/index.php"><p class="index-new"> 一個城市的經濟發展程度，國際自動化展絕對是具指標性的展覽。自動化深植各個產業上至下游的供應鏈，而機械業在台灣出口貿易中扮演重要的角色，又以中部地區為產業聚集地，自然形成一條由數萬家協力廠商組成的供應鏈，為中部製造產業帶來無限商機，加上政府積極推動產業的轉型與升級，並於台中設立精密機械園區，帶領中部地區走向結合傳統與高科技製造產業的新興發展。</p></a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    <section class="silver">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>服務項目</h3>
                   <ul class="list-group">
                      <li class="list-group-item list-group-item-success"><a href="/machines">主軸加工</a></li>
                      <li class="list-group-item list-group-item-info"><a href="/machines">內徑研磨</a></li>
                      <li class="list-group-item list-group-item-warning"><a href="/machines">外徑研磨</a></li>
                      <li class="list-group-item list-group-item-danger"><a href="/machines">平面研磨</a></li>
                      <li class="list-group-item list-group-item-default"><a href="/machines">零件加工</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>最新職缺</h3>
                    <table class="table table-hover table-info table-striped">
                      <thead>
                        <tr>
                          <th>日期</th>
                          <th>標題</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017/05/30</td>
                          <td><a href="/news">研磨技術員</a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
<script type="text/javascript">
    $(document).ready(function(){
        $('.icon-angle-left').click();
    });
</script>
</body>
</html>