<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
<%include ./master/menu.ejs %>
    <section id="main-slider" class="hidden-xs no-margin">
        <div class="carousel slide wet-asphalt"  style="background-color:white !important;">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/background/01-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/background/02-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/background/03-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="silver">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">2017 台北國際自動化工業大展</h3>
                            <a target="_blank" href="https://www.autotaiwan.com.tw/"><p class="index-new">
                            自動化深植各產業，涵蓋領域從傳產業到電子業，從零組件到整廠設備，從技術到服務，各產業皆須以自動化加速升級。加上政府積極推動「智慧型自動化產業發展方案」，帶動智慧型自動化產業之發展，增進在全球市場之競爭力。<br>
                            「台北國際自動化工業大展」為國內歷史最悠久的機械展會之一，也是台灣國際工業展會的龍頭，帶領台灣自動化產業在國際間嶄露頭角，並佔有一席之地！自1987年以來，已成功舉辦29年，無論歷經金融海嘯、國際動亂或者國內SARS風暴等重大事件仍屹立不搖，無論在專業及規模上，皆具國際水準，成為亞洲最具代表性的工業自動化、機器人展覽會之一。
                            </p></a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-md"><img class="icon-md" src="images/ico/new.ico"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">2017 台中工具機展</h3>
                            <a target="_blank" href="http://www.edn-mcshow.com/ntp/index.php"><p class="index-new"> 一個城市的經濟發展程度，國際自動化展絕對是具指標性的展覽。自動化深植各個產業上至下游的供應鏈，而機械業在台灣出口貿易中扮演重要的角色，又以中部地區為產業聚集地，自然形成一條由數萬家協力廠商組成的供應鏈，為中部製造產業帶來無限商機，加上政府積極推動產業的轉型與升級，並於台中設立精密機械園區，帶領中部地區走向結合傳統與高科技製造產業的新興發展。</p>
                        </div></a>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    <section class="silver">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>服務項目</h3>
                   <ul class="list-group">
                      <li class="list-group-item list-group-item-success"><a href="/machines">主軸加工</a></li>
                      <li class="list-group-item list-group-item-info"><a href="/machines">內徑研磨</a></li>
                      <li class="list-group-item list-group-item-warning"><a href="/machines">外徑研磨</a></li>
                      <li class="list-group-item list-group-item-danger"><a href="/machines">平面研磨</a></li>
                      <li class="list-group-item list-group-item-default"><a href="/machines">零件加工</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>最新職缺</h3>
                    <table class="table table-hover table-info table-striped">
                      <thead>
                        <tr>
                          <th>日期</th>
                          <th>標題</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017/05/30</td>
                          <td><a href="/news">研磨技術員</a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</html>