<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
<%include ./master/menu.ejs %>
    <section id="main-slider" class="hidden-xs no-margin">
        <div class="carousel slide wet-asphalt"  style="background-color:white !important;">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/background/01-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/background/02-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/background/03-01.jpg);background-size:100% auto;">
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="silver">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                </div><!--/.col-md-4-->
                <div class="col-md-6 col-sm-6">
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

    <section class="silver">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>服務項目</h3>
                   <ul class="list-group">
                      <li class="list-group-item list-group-item-success"><a href="/machines">主軸加工</a></li>
                      <li class="list-group-item list-group-item-info"><a href="/machines">內徑研磨</a></li>
                      <li class="list-group-item list-group-item-warning"><a href="/machines">外徑研磨</a></li>
                      <li class="list-group-item list-group-item-danger"><a href="/machines">平面研磨</a></li>
                      <li class="list-group-item list-group-item-default"><a href="/machines">零件加工</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>最新職缺</h3>
                    <table class="table table-hover table-info table-striped">
                      <thead>
                        <tr>
                          <th>日期</th>
                          <th>標題</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017/05/30</td>
                          <td><a href="/news">研磨技術員</a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
<script type="text/javascript">
    $(document).ready(function(){
        setInterval(function(){ $('.icon-angle-right').click(); }, 5000);     
    });
</script>
</body>
</html>