<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master_head.ejs %>
</head><!--/head-->
<body>
<%include ./menu.ejs %>

    <section class="container">
        <div class="row">
            <div class="col-sm-12"><h1>機械設備</h1></div>
        </div>
         <div class="col-sm-12">
        <ul class="portfolio-items col-3">
            <li class="portfolio-item apps">
                <div class="item-inner">
                    <img src="images/sample/SHIGIYA  GPL-30-40.jpg" alt="">
                    <h5>日製》SHIGIYA  GPL-30-40圓筒磨床1台</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="images/sample/SHIGIYA  GPL-30-40.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla bootstrap">
                <div class="item-inner">
                    <img src="images/sample/SHIGIYA  GPL-30-40.jpg" alt="">
                    <h5>日製》SHIGIYA  GPL-30-40圓筒磨床1台</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="images/sample/SHIGIYA  GPL-30-40.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>               
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item bootstrap wordpress">
                <div class="item-inner">
                    <img src="images/sample/SHIGIYA  GPL-30-40.jpg" alt="">
                    <h5>日製》SHIGIYA  GPL-30-40圓筒磨床1台</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="images/sample/SHIGIYA  GPL-30-40.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>               
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla wordpress apps">
                <div class="item-inner">
                    <img src="images/sample/SHIGIYA  GPL-30-40.jpg" alt="">
                    <h5>日製》SHIGIYA  GPL-30-40圓筒磨床1台</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="images/sample/SHIGIYA  GPL-30-40.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>           
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla html">
                <div class="item-inner">
                    <img src="images/sample/SHIGIYA  GPL-30-40.jpg" alt="">
                    <h5>日製》SHIGIYA  GPL-30-40圓筒磨床1台</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="images/sample/SHIGIYA  GPL-30-40.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>    
                </div>       
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <img src="images/sample/SHIGIYA  GPL-30-40.jpg" alt="">
                    <h5>日製》SHIGIYA  GPL-30-40圓筒磨床1台</h5>
                    <div class="overlay">
                        <a class="preview btn btn-danger" href="images/sample/SHIGIYA  GPL-30-40.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                    </div>          
                </div>           
            </li><!--/.portfolio-item-->
        </ul>
        </div>
    </section><!--/#portfolio-->

<%include ./footer.ejs %>
<%include ./bodyend.ejs %>
</body>
</html>
