<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
</head><!--/head-->
<body>
<%include ./master/menu.ejs %>

    <section class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12"><h1>機械設備</h1></div>
        </div>
        <div class="row">
             <div class="col-sm-12 col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <div class="carousel-inner" role="listbox">
                    <div class="item active machinesImages" style="text-align:center">
                      <img class="img-responsive" src="images/machines/DOWELL HR600AND.jpg" alt="DOWELL HR600AND" style="margin:0px auto">
                      <div class="carousel-caption">
                        <p style="color:black">DOWELL-HR600AND</p>
                      </div>
                    </div>
                    <div class="item machinesImages" style="text-align:center">
                      <img class="img-responsive" src="images/machines/HURISE D2.jpg" alt="HURISE D2" style="margin:0px auto">
                      <div class="carousel-caption">
                        <p style="color:black">HURISE-D2</p>
                      </div>
                    </div>
                    <div class="item machinesImages" style="text-align:center">
                      <img class="img-responsive" src="images/machines/STUDER S33.jpg" alt="STUDER S33" style="margin:0px auto">
                      <div class="carousel-caption">
                        <p style="color:black">STUDER-S33</p>
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一頁</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一頁</span>
                  </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>服務項目</h1>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">主軸加工</li>
                    <li class="list-group-item list-group-item-info">內徑研磨</li>
                    <li class="list-group-item list-group-item-warning">外徑研磨</li>
                    <li class="list-group-item list-group-item-danger">平面研磨</li>
                    <li class="list-group-item list-group-item-default">零件加工</li>
                </ul>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </section><!--/#portfolio-->

<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</html>
