<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=144716315690681";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<%include ./master/menu.ejs %>

    <section id="blog" class="container">
        <div class="row">
            <aside class="col-sm-6">
                <h1>最新職缺</h1>
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            <a href="blog-item.html"><h3>徵才資訊</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-calendar"></i> 2017/05/30</span>
                            </div>
                            <p>誠徵研磨技術員</p><br>
                            <p>有無經驗可</p><br>
                            <p>薪資待遇面談</p><br>
                            <p>無誠勿試</p>
                        </div>
                    </div><!--/.blog-item-->
                </div>
            </aside>        
            <div class="col-sm-6">
                <h1>最新消息</h1>
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            <a href="blog-item.html"><h3>台北國際工具機展</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-calendar"></i> 2017/05/30</span>
                            </div>
                            <p>展覽日期：2017年3月7日至12日</p><br>
                            <p>主辦單位：中華民國對外貿易發展協會 (TAITRA)、臺灣機械工業同業公會 (TAMI)</p><br>
                            <p>展覽地點：世貿一館(1&2樓)、圓山爭艷館、世貿三館、南港展覽館1館(1&4樓)</p><br>
                            <p>展出內容及各館展區劃分：</p><br>
                            <p>世貿一館1樓：</p><br>
                            <p>機械零組件、伺服及控制單元、工具、刀具、模具、液壓、氣壓、潤滑及冷卻系統、CAD/CAM、軟體、設計工程、量測與檢驗設備、工業用潤滑系統、工業用冷卻系統、雷射/水刀切割設備、切管機、彎管機、線材加工機械、其他相關設備</p><br>
                            <p>世貿一館2樓：</p><br>
                            <p>工具及刀具區、CAD/CAM、軟體、設計工程、量測與檢驗設備、國際媒體區</p><br>
                            <p>圓山爭艷館：</p><br>
                            <p>機械式沖床、油壓式沖床、氣壓式沖床、剪床、摺床、彎板機、螺絲螺帽成型機械、鑄造機械設備、鍛造機械設備、其他金屬成型工具機</p><br>
                            <p>世貿三館：</p><br>
                            <p>金屬切削工具機、金屬成型工具區零組件、焊接/震動研磨及表面處理設備區、雷射/水刀切割設備、切管機、彎管機、線材加工機械、零組件/配件區、工具及刀具區、CAD/CAM、軟體、設計工程、量測與檢驗設備、液氣壓元件區、海峽兩岸工具機展及更多的新面孔</p><br>
                            <p>南港展覽館1樓：</p><br>
                            <p>金屬切削工具機區、車床、鑽床、銑床、搪床、刨床、插床、拉床、磨床、綜合加工機、放電加工機、鋸床、裁斷機、齒輪加工機械、雕刻機、工業機器人、其他相關設備</p><br>
                            <p>南港展覽館4樓：</p><br>
                            <p>金屬切削工具機、瑞士國家館、德國國家館、工業機器人、國際公協會</p><br>
                            <a target="_blank" class="btn btn-default" href="https://www.timtos.com.tw/zh_TW/kv/info.html?id=113E8945F7576DFF">閱讀更多<i class="icon-angle-right"></i></a>
                        </div>
                    </div><!--/.blog-item-->
                </div>
            </div><!--/.col-md-8-->
        </div><!--/.row-->
    </section><!--/#blog-->

<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</body>
</html>