<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=144716315690681";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<%include ./master/menu.ejs %>

    <section id="blog" class="container">
        <div class="row">
            <aside class="col-sm-6 col-sm-push-6">
                <h1>最新職缺</h1>
                    <table class="table table-hover table-info table-striped">
                      <thead>
                        <tr>
                          <th>日期</th>
                          <th>標題</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2017/05/21</td>
                          <td><a href="#">專業工程師</a></td>
                        </tr>
                        <tr>
                          <td>2017/05/21</td>
                          <td><a href="#">專業設計師</a></td>
                        </tr>
                        <tr>
                          <td>2017/05/21</td>
                          <td><a href="#">業務</a></td>
                        </tr>
                      </tbody>
                    </table>
            </aside>        
            <div class="col-sm-6 col-sm-pull-6">
                <h1>最新消息</h1>
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            <a href="blog-item.html"><h3>柯文哲：扁生活能力差 談政治卻精明</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-calendar"></i> Sept 16th, 2012</span>
                            </div>
                            <p>前總統陳水扁出席凱達格蘭基金會募款餐會，遭質疑違反中監「五不原則」。台北市長柯文哲今天說，陳水扁在醫學上是有趣個案，他生活能力很差，但講到政治，奇怪怎麼這麼精明。陳水扁昨天北上參加凱達格蘭基金會餐會活動，陳水扁仍拄著拐杖步入活動場地，在主桌就座，遭外界質疑是否違反台中監獄「五不原則」（不得進入活動會場，不上台、不演講、不談及政治、不接受媒體採訪）。柯文哲今天出席活動，會後媒體詢問，為何昨天與陳水扁同台？柯先回應「沒有同台」後強調，不管陳水扁昨天有沒有到場，自己原本就會參加，但晚上7時30分就離開。「陳水扁在醫學上是個有趣的個案」，柯文哲舉例，如果一個世界級的鋼琴專家，到了70歲時已經失智，連瓦斯爐都開不了怎麼可能還彈鋼琴，因此陳水扁是個有趣的案例，陳水扁生活很差，但講到政治，會讓人覺得，奇怪了怎麼這麼精明。至於是否認為陳水扁已違反中監五不原則？柯說，這個問題不適合在媒體聯訪時多做表示，但他昨天也在思考這個問題，應該要怎麼回答。柯文哲說，西元1981年6月27日，中國共產黨通過「關於建國以來黨的若干歷史問題的決議」，裡面曾提到，面對問題是解決問題的第一步，因為你不解決問題，常常就被問題解決，所以這個問題拖下去不是辦法。</p>
                            <a class="btn btn-default" href="blog-item.html">Read More <i class="icon-angle-right"></i></a>
                        </div>
                    </div><!--/.blog-item-->
                    <div class="blog-item">
                        <div class="blog-content">
                            <a href="blog-item.html"><h3>Conubia nostra per inceptos himenaeos</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-user"></i> <a href="#">John</a></span>
                                <span><i class="icon-folder-close"></i> <a href="#">Bootstrap</a></span>
                                <span><i class="icon-calendar"></i> Sept 16th, 2012</span>
                                <span><i class="icon-comment"></i> <a href="blog-item.html#comments">0 Comment</a></span>
                            </div>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                            <a class="btn btn-default" href="blog-item.html">Read More <i class="icon-angle-right"></i></a>
                        </div>
                    </div><!--/.blog-item-->
                    <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="icon-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="icon-angle-right"></i></a></li>
                    </ul><!--/.pagination-->
                </div>
            </div><!--/.col-md-8-->
        </div><!--/.row-->
    </section><!--/#blog-->

<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</body>
</html>