<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=144716315690681";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<%include ./master/menu.ejs %>

    <section id="blog" class="container">
        <div class="row">
            <aside class="col-sm-6">
                <h1>最新職缺</h1>
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            <a href="#"><h3>徵才資訊</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-calendar"></i> 2017/05/30</span>
                            </div>
                            <p>誠徵研磨技術員</p><br>
                            <p>有無經驗可</p><br>
                            <p>薪資待遇面談</p><br>
                            <p>無誠勿試</p>
                        </div>
                    </div><!--/.blog-item-->
                </div>
            </aside>        
            <div class="col-sm-6">
                <h1>最新消息</h1>
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            <a target="_blank" href="http://www.edn-mcshow.com/ntp/index.php"><h3>2017 台中工具機展 11/02-11/06</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-calendar"></i> 2017/05/30</span>
                            </div>
                            <p> 一個城市的經濟發展程度，國際自動化展絕對是具指標性的展覽。自動化深植各個產業上至下游的供應鏈，而機械業在台灣出口貿易中扮演重要的角色，又以中部地區為產業聚集地，自然形成一條由數萬家協力廠商組成的供應鏈，為中部製造產業帶來無限商機，加上政府積極推動產業的轉型與升級，並於台中設立精密機械園區，帶領中部地區走向結合傳統與高科技製造產業的新興發展。</p>
                            <p>地球村形成，帶動航空業高速發展，全球航空旅運量在未來20年，每年將以4.7%速度增長，預估未來將有2.6萬架飛機的產能需求，官方估計，台灣未來兩年至少有300億設備採購商機。為促進國內航太加工及相關設備產業發展，2015年特別於製造技術設備展中規劃「航太加工主題館」，設立航太加工專區，並於大會活動區規劃專業論壇，提供廠商展示新品的平台，此一主題區獲得產、官、學、研界熱烈迴響。繼2015年航太加工主題館展出後，多家廠商要求，並獲台灣區航太工業同業公會支持，希望提供航太加工業者與買主更完善的交流平台，預計2016年在台中擴大舉辦第一屆航太加工展，以航太加工為主軸，整合上、中、下游及周邊產業，共同展現出完整航太加工產業鏈，讓更多有意進入及了解航太加工的業者、民眾及買主，有近距離接觸、溝通及交流的機會，進而帶動整體產業發展，促進資本市場更加活絡。
                            　　經濟日報舉辦過數十檔自動化工業展的豐富經驗，除了扮演專業報導的媒體角色，善盡媒體職責，更提供製造產業一個設備完善且質量豐富的展覽平台。為因應產業發展及整合資源，『2016台中自動化工業展』將於6月2日至6日在「大台中國際會展中心」盛大舉辦，協助台灣機械製造相關業者，將品質優良的產品技術讓各界看見，提昇產品競爭力，促進產業交流，並讓國內外買主在同一時間內一次看足最新穎的自動化設備，也是每年採購看展的最佳焦點。
                             </p><br>
                            <a target="_blank" class="btn btn-default" href="http://www.edn-mcshow.com/ntp/index.php">閱讀更多<i class="icon-angle-right"></i></a>
                        </div>
                    </div><!--/.blog-item-->
                </div>
            </div><!--/.col-md-8-->
        </div><!--/.row-->
    </section><!--/#blog-->

<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</body>
</html>