<!DOCTYPE html>
<html lang="en">
<head>
<%include ./master/master_head.ejs %>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=144716315690681";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<%include ./master/menu.ejs %>

    <section id="blog" class="container">
        <div class="row">
            <aside class="col-sm-6">
                <h1>最新職缺</h1>
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            <a href="#"><h3>徵才資訊</h3></a>
                            <div class="entry-meta">
                                <span><i class="icon-calendar"></i> 2017/05/30</span>
                            </div>
                            <p>誠徵研磨技術員</p><br>
                            <p>有無經驗可</p><br>
                            <p>薪資待遇面談</p><br>
                            <p>無誠勿試</p>
                        </div>
                    </div><!--/.blog-item-->
                </div>
            </aside>        
            <div class="col-sm-6">
            </div><!--/.col-md-8-->
        </div><!--/.row-->
    </section><!--/#blog-->

<%include ./master/footer.ejs %>
<%include ./master/bodyend.ejs %>
</body>
</body>
</html>