    <footer id="footer" class="wet-asphalt footer">
        <div class="container">
            <div class="row">
            <section id="bottom" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-6"></div>
                            <div class="col-md-2 col-sm-6">
                                <h4>聯絡資訊</h4>
                                <address>
                                    <h5>穩鍵精密機械有限公司</h5>
                                    地址:<br>台中市霧峰區吉峰路67巷11號<br>
                                    <abbr title="Phone">電話:</abbr><br> (04) 2332-2581
                                </address>                                
                            </div> <!--/.col-md-3-->
                            <div class="col-md-6 col-sm-6">
                                <div id="map"></div>
                            </div> <!--/.col-md-3-->
                            <div class="col-md-2 col-sm-6"></div>
                        </div>
                    </div>
                </section><!--/#bottom-->
            </div>
        </div>
    </footer><!--/#footer-->
    