    <footer id="footer" class="wet-asphalt">
        <div class="container">
            <div class="row">
            <section id="bottom" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-6"></div>
                            <div class="col-md-2 col-sm-6">
                                <h4>聯絡資訊</h4>
                                <address>
                                    <strong>台積電股份有限公司</strong><br>
                                    地址:<br>412台中市大里區仁化路372號<br>
                                    <abbr title="Phone">電話:</abbr><br> (123) 456-7890
                                </address>                                
                            </div> <!--/.col-md-3-->
                            <div class="col-md-6 col-sm-6">
                                <div id="map"></div>
                            </div> <!--/.col-md-3-->
                            <div class="col-md-2 col-sm-6"></div>
                        </div>
                    </div>
                </section><!--/#bottom-->
            </div>
        </div>
    </footer><!--/#footer-->